{% extends 'blog/layout.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="{% url 'index'%}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Login</li>
{% endblock %}

{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}
<div class="content-box" style="width: 400px; max-width: 80%; margin: 10% auto 0% auto; padding: 16px 24px 16px 24px;">
	{% if form.errors %}
	<p id="warning">Your username and password didn't match. Please try again.</p>
	{% endif %}

	{% if next %}
	{% if user.is_authenticated %}
	<p>Your account doesn't have access to this page. To proceed,
		please login with an account that has access.
	</p>
	{% endif %}
	{% endif %}

	<!-- <div> Login: </div> -->

	<form method="post" action="{% url 'login' %}" style="padding-top: 8px;">
		{% csrf_token %}

		<div>
			<input id="login-field" name="username" autofocus="" maxlength="254" required="" type="text" placeholder="Username"/>
		</div>
		<div>
			<input id="login-field" name="password" required="" type="password" placeholder="Password"/>
		</div>

		<div style="padding-top: 8px;">
			<input class="btn" id="login" type="submit" value="LOGIN" />
			<input type="hidden" name="next" value="{{ next }}" />
		</div>
	</form>
</div>
{% endblock %}
