{% extends 'blog/layout.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="{% url 'index'%}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">About</li>
{% endblock %}

{% block content %}

<div style="margin: 24px 10%; padding: 16px 24px;">
<div >About this site:</div> <br>
<div >
  The purpose with this site is to have a place where I can publicly organize my projects, 
  and practice web-development.
</div>
<div >
  (and brag about having my own website)<br><br>
</div>
<div >
  The site is made using 
  <a href="https://www.djangoproject.com/">Django</a>
  and 
  <a href="https://getbootstrap.com/">Bootstrap</a>.
  
  <br><br>

  Made by Ådne E. Moldesæter. <a href="https://gitlab.com/AadneEM/mollux.no">Source code</a> <br>
  Hosted by Andreas Larsen. <a href="northcode.no">His page</a>
</div>
</div>

{% endblock %}
