{% extends 'blog/layout.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="{% url 'index'%}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
{% endblock %}

{% block content %}

<div class="container container-extras">
	<div class="card card-extras">
		{% if post.project_url %}
			<a href="{{ post.project_url }}">
		{% endif %}
			
		{% if post.image %}
			{% if post.project_url == null %}
				<a href="{{ post.image.url }}">
			{% endif %}
				
			{% load thumbnail %}
			<img class="card-img-top" src="{{ post.image|thumbnail_url:'large' }}" alt="" />
		{% else %}
			{% if post.project_url %}
				{{ post.project_url }}
			{% endif %}
		{% endif %}
		{% if post.project_url or post.image %}
			</a>
		{% endif %}
			
		<div class="card-body">
			<h3 class="card-title text-center">{{ post.title }}</h3>
			{% if post.includeSummary %}
				<p class="card-text">{{ post.formatted_summary|safe }}</p>
			{% endif %}
			<p class="card-text">{{ post.formatted_body|safe }}</p>
		</div>
		<div class="card-footer text-muted">
			{{ post.created_at|date:'Y-m-d H:i' }}
		</div>			
	</div>
</div>
	
	<!-- <a href="{% url "index" %}" class="btn" style="margin: 0px 0px 16px 5%;">Back</a> -->
	
	{% endblock %}
