{% extends 'blog/layout.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="{% url 'index'%}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Gallery</li>
{% endblock %}

{% block meta %}
<title>Mollux</title>
{% endblock %}

{% block content %}
<div style="text-align:center">
<div class="gallery_container">
	{% for post in posts %}
	{% if post.image %}
	<div class="gallery-image">
		<a href="{{ post.get_absolute_url }}" >
			{% load thumbnail %}
			<img src="{{ post.image|thumbnail_url:'medium' }}" alt="" style="width: 100%;"/>
		</a>
	</div>
	{% endif %}
	{% endfor %}
</div>
</div>
{% endblock %}
