{% extends 'blog/layout.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block content %}

<div class="container container-extras">
	
	{% for post in posts %}
	
	<div class="card card-extras">
		{% if post.image %}
		{% load thumbnail %}
		<img class="card-img-top" src="{{ post.image|thumbnail_url:'medium-wide' }}" alt="Image for post '{{ post.title }}' " style="max-height: 500px; object-fit: contain;" />
		{% endif %}
		<div class="card-body text-center">
			<h3 class="card-title ">{{ post.title }}</h3>
			{{ post.formatted_summary|safe }}
		</div>
		<div class="card-footer text-muted">
			{{ post.created_at|date:'Y-m-d H:i' }}
			<a href="{{ post.get_absolute_url }}" class="float-right">Read more</a>
		</div>
	</div>
	
	{% endfor %}
	
	{% if posts.paginator.num_pages > 1 %}
	<div class="paginator">
		{% if posts.has_previous %}
		{% if posts.number > 2 %}
		<a href="?page=1">&laquo; first</a>
		{% endif %}
		<a href="?page={{ posts.previous_page_number }}">&laquo;</a>
		{% endif %}
		
		{% for i in num_pages %}
		
		{% if i|add:1 == posts.number %}
		<a href="" class="active"> {{ i|add:1 }}</a>
		{% else %}
		<a href="?page={{ i|add:1 }}">{{ i|add:1 }}</a>
		{% endif %}
		
		{% endfor %}
		
		{% if posts.has_next %}
		<a href="?page={{ posts.next_page_number }}">&raquo;</a>
		{% if posts.number|add:1 < posts.paginator.num_pages %}
		<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
		{% endif %}
		
	</div>
	{% endif %}
	
</div>

{% endblock %}
