{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<link type="text/css" rel="stylesheet" href="{% static 'main.css' %}" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />

	<!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{% block meta %}
	<title>Mollux</title>
	{% endblock %}
	
</head>
<body class="bg-light">
	
	<div id="wrapper">
		
		{% include 'blog/sidebar.html' %}
		
		<div id="content">

			<!-- Navbar -->
			<nav class="navbar navbar-light bg-white border-bottom">
				<span style="font-size:30px;cursor:pointer; padding-right: 32px;" onclick="toggleSidebar()">&#9776;</span>
				
				<ol class="breadcrumb bg-white mx-auto" style="padding-right: 80px; margin: 0">
					{% block breadcrumb %}
					{% endblock %}
				</ol>
			</nav>
			
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	
	<script>
		
		let sidebarOpen = ($(window).width() > 760) ? true : false;
		
		function toggleSidebar() {
			if(sidebarOpen){
				document.getElementById("sidebar").style.width = "0";
				document.getElementById("content").style.marginLeft = "-250px";
					setTimeout(function() { 
						document.getElementById("overlay").style.visibility = "hidden"
					}, 500);
					document.getElementById("overlay").style.opacity = "0";
			}else{
				document.getElementById("sidebar").style.width = "250px";
				if ($(window).width() > 760) {
					document.getElementById("content").style.marginLeft = "0";
				} else {
					document.getElementById("overlay").style.visibility = "visible";
					document.getElementById("overlay").style.opacity = "0.5";
				}
			}
			sidebarOpen = !sidebarOpen;
		}
		
		function rotate(icon) {
			var element = document.getElementById(icon);
			element.classList.toggle("rotate");
		};
		
	</script>
</body>
</html>
