{% extends 'blog/layout.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="{% url 'index'%}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">New post</li>
{% endblock %}

{% block content %}

<h1>New post</h1>

<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form.as_p }}
  <input id="marg_bot" class="btn" type="submit" value="Post" />
</form>

{{ form.media }}

{% endblock %}
