<div id="sidebar" class="bg-dark" style="padding-top: 32px">
    <a href="{% url 'index'%}" style="margin: 30px 0 0 20px;" class="hover-dark">
        <img src="/static/logo-white.svg" type="image/svg+xml" style="height: 60px; margin-bottom: 40px"></img>
    </a>
    <ul class="sidebar-nav" style="padding: 0; margin: 0;">
        <li class="sidebar-link">
            <a href="{% url 'gallery'%}" class="w-100 h-100 d-inline-block ">Gallery</a>
        </li>
        <li class="sidebar-link">
            <a href="{% url 'about'%}" class="w-100 h-100 d-inline-block">About</a>
        </li>
        <li class="sidebarLink"> 
            {% if user.is_authenticated %}
            <a href="#user-options" onclick="rotate('user-collapse-icon')" data-toggle="collapse" aria-expanded="false" aria-controls="user-options" class="w-100 h-100 d-inline-block sidebar-link" >
                {{ user.username }} 
                <span id="user-collapse-icon" class="float-right icon-rotate" style="padding-right: 12px;" >&#9207;</span>
            </a>
            <div id="user-options" class="collapse">
                <ul class="flex-column w-60">
                    <li><a href="{% url 'post' %}" class="w-100 h-100 d-inline-block sidebar-link">New post</a></li>
                    <li><a href="{% url 'admin:index' %}" class="w-100 h-100 d-inline-block sidebar-link">Admin</a></li>
                    <li><a href="{% url 'logout'%}?next={% url 'index'%}" class="w-100 h-100 d-inline-block sidebar-link">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <a href="{% url 'login'%}?next={% url 'index'%}" class="w-100 h-100 d-inline-block sidebar-link" >Login</a>
            {% endif %}
        </li>
        <li class="sidebarLink">
            <a href="#contact-options" onclick="rotate('contact-collapse-icon')" data-toggle="collapse" aria-expanded="false" aria-controls="contact-options" class="w-100 h-100 d-inline-block sidebar-link" >
                Contact 
                <span id="contact-collapse-icon" class="float-right icon-rotate" style="padding-right: 12px">&#9207;</span>
            </a>
            <div id="contact-options" class="collapse">
                <ul class="flex-column">
                    <li>
                        <a href="mailto:aadne.e.m@outlook.com?subject=Mollux.no" class="w-100 h-100 d-inline-block sidebar-link">
                            <span class="material-icons" style="margin: -4px 0 0 -20px; display: inline-flex; vertical-align: middle; font-size: 25px;">mail_outline</span>
                            E-Mail
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w-100 h-100 d-inline-block sidebar-link" data-toggle="modal" data-target="#messageModal">
                            <span class="material-icons" style="margin: -4px 0 0 -20px; display: inline-flex; vertical-align: middle; font-size: 25px;">comment</span>
                            Message
                        </a>                        
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    
    <hr style="border-color: slategrey; margin: 16px 32px 24px 32px">
    
    <div class="active-purple-4 mb-4" style="margin: 0 20px;">
        <form method="GET" action="">
            <div class="input-group">
                <input class="form-control " type="text" name="search" value="{{ request.GET.search }}" placeholder="Search" aria-label="Search">
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg w-100 h-100" type="submit" style="margin-left: -3px">
                        <i class="material-icons" style="margin-top: -5px; display: inline-flex; vertical-align: middle;">search</i>
                    </button>
                </span>
            </div>         
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leve a message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        {{ messageForm.as_p }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="overlay" class="overlay" onclick="toggleSidebar()"></div>