$primary-color: #3A7EA3;
$primary-light: #eff3f5;
$primary-dark: #343a40;
$accent: #F04B32;
$text-light: #e9eef2;
$sidebar-hover: #eee;

body, th, td {
	font: 95%/1.3 Roboto, Segoe UI, Tahoma, Arial, Helvetica, sans-serif;
}

body {
	overflow-x: hidden;
}

#wrapper {
	padding-left: 0;
	padding-left: 250px;
}

#sidebar {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow: hidden;
	transition: 0.5s;
	color: $text-light;
	
	ul {
		list-style: none;
		
		a {
			text-decoration: none;
			color: $text-light;
			font-size: 24px;
			margin-left: -20px;
			padding: 5px 0;
			
			&:hover {
				background-color: $sidebar-hover;
				color: $accent;
			}
		}
	}
	
	li {
		text-indent: 20px;
		line-height: 40px;
	}
	
}

#content {
	transition: margin-left .5s;
}

.paginator{
	display: inline-block;
	padding: 0 0 32px 16px;
	.active{
		background-color: $primary-color;
		border-radius: 5px;
		color: #fff;
	}
	
	a{
		text-decoration: none;
		padding: 8px 16px;
		color: #000;
		transition: background-color .3s;
		
		&:hover{
			background-color: #ddd;
			border-radius: 5px;
			color: #000;
		}
	}
}

#overlay {
	visibility: hidden;
	position:absolute;
	display: block;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0; 
	
	transition-property: opacity;
	transition-duration: 0.5s;
}

.gallery-image {
	display: inline-block;
	width: 300px;
	height: 300px;
}

.gallery_container {
	margin:24px auto;
	display: inline-block;
}

.container-extras{}

.card-extras{
	margin: 32px 16px;
}

.card-body{
	p {
		margin-bottom: 0;
	}
}

.rotate {
	margin-right: -7px;
	transform: rotate(180deg); 
}

.icon-rotate {
	transition-duration: 0.5s;
	transition-delay: 0.1s;
	display: inline-block;
}

@media screen and (max-width: 880px){
	.gallery-image {
		width: 200px;
		height: 200px;
	}
}

@media only screen and (max-width: 760px) {
	#sidebar {
		width: 0px;
	}
	
	#content {
		margin-left: -250px;
	}
}

@media screen and (max-width: 510px) {
	.gallery-image {
		width: 150px;
		height: 150px;
	}
	
	.card-extras{
		margin: 32px -3px;
		padding: 0;
	}
	
	.container-extras{
		margin: 0 !important;
		padding: 0 !important;
	}
}

@media screen and (max-width: 400px) {
	.gallery-image {
		width: 120px;
		height: 120px;
	}
}
